body {
    background-color: rgb(16, 18, 20);
    font-family: Arial, Helvetica, sans-serif
}

#contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 800px;
    /* height: 700px;
    overflow: scroll; */

}

.contact {
    background-color: #cfcdc7;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    flex-basis: 40%;
    border-style: solid;
    border-color: rgb(54, 54, 54);
}

.contact:hover {
    background-color: lightgoldenrodyellow;
}

#contact-form {
    background-color: #cfcdc7;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 800px;


}